*, *:before, *:after {
    box-sizing: border-box;
}
/* Общие стили */
body {
    margin: 0;
    min-width: 1600px;
    font-size: 15px;
    font-family: "Montserrat", "Arial", sans-serif;
}
.content-container {
    width: 1600px;
}
.first_screen {
    height: 900px;
    background-color: black;
}
a {
    text-decoration: none;
}

/* Стили для header */

.page-header {
    padding-left: 215px;
    display: flex;
    align-items: center;
}
.logo {
    flex-grow: 3;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;   
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.main-nav {
    padding-left: 0px;
    flex-grow: 4;
}
.nav-list {
    display: flex;
}
.list-item {
    padding-right: 45px;
}
.item-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.active {
    font-weight: 900;
}
.phone {
    flex-grow: 2;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.social-list {
    
    flex-grow: 3;
    display: flex;
}
.social-link {
    
    padding-right: 32px;
}
.offer {
    display: flex;
}
.main-pic {
    
}