/*Общие стили */
*,
*::after,
*::before{
    box-sizing: border-box;
}
ul{
    margin: 0;
    list-style: none;
}
li{
    padding-left: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}
/* стили */
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 58px auto;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    margin-right: 70px;
}

.menu__list{
    display: flex;
}

.menu__item + .menu__item{
    padding-left: 10px;
}
.menu__link{
    text-transform: uppercase;
    padding: 23px 20px;
    transition: all .3s;
}
.menu__link:hover{
    background-color: rgb(20, 83, 138);
    color: rgb(155, 11, 54);
}
.social__list{
    display: flex;
}

.music{
    padding: 22px 0 124px;
}
.music__inner{
    display: flex;
    justify-content: space-between;
}

.music__column-image{
    flex-basis: 487px;
    margin-left: 187px;
}
.music__title{
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    margin: 185px 0 15px;
}
.music__subtitle{
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}
.music__start{
    width: 232px;
    height: 62px;
    background: linear-gradient(273.97deg, #D03047 9.87%, #5D8810 52.92%, #43B570 94.21%);
    box-shadow: 0px 7px 20px rgba(255, 255, 255, 0.35);
    border-radius: 22px;
}
.music__link{
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/* СЛАЙДЕР*/
.music-slider {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    width: 220px;
    height: 210px;
    background-color: #ffffff;
    border: 6px solid #ffffff;
    border-radius: 16px;
    /*flex-basis: 220px;
    max-width: 220px;
    padding: 0px 60px;*/
}
.slick-list{

}
.slick-track{
    display: flex;
}

.slick-slide{

}

.slick-slide .slick-active{

}
.slick-slide .slick-current{

}

.music-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 35px;
    height: 35px;
}
.music-slider .slick-arrow.slick-prev {
    border: 0;
    padding: 0;
    left: -65px;
    background: url('../img/music-slider-left.png') 0 0 / 100% no-repeat;
}
.music-slider .slick-arrow.slick-next {
    border: 0;
    padding: 0;
    right: -300px;
    background: url('../img/music-slider-right.png') 0 0 / 100% no-repeat;
}


.music-slider-item{
    }
.music-slider-item-block{
    display: flex;
    align-items: center;
    padding: 21px 0 7px 29px;
    
}

.music-slider-text1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #f07530;   
}
.music-slider-text2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #55BC31;   
}

.music-slider-arrow {
    margin-left: 11px;
    width: 13px;
    height: 10px;
}

.music-slider-image {
    width: 129px;
    height: 128px;
    margin-left: 48px;
}
/* 
.music-slider .slick-dot
    flex-basis: 600px;
    max-width: 600px;
    right: 0;
    top: 50px;
}

.slick-dots{
    position: absolute;
}

.slick-dots li + li {
    padding-top: 10 px;
}
.slick-dots button {
    font-size: 0;
    padding: 0;
    border: none;
    background-color:#cf1e1e;
    width: 2px;
    height: 25px;
    border-radius: 7px;
}

/* 
//Общие стили 
body {
    min-width: 1600px;
    font-size: 15px;
    font-family: "Montserrat", "Arial", sans-serif;
}
.content-container {
    
}
.first_screen {
    height: 900px;
    background-color: black;
}
a {
    text-decoration: none;
}

//  Стили для header

.header {
    padding-left: 215px;
    display: flex;
    align-items: center;
}
.logo {
    flex-grow: 3;
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;   
    font-size: 18px;
    line-height: 22px;
    //identical to box height, or 122% 
    letter-spacing: 0.065em;
    color: #FFFFFF;
}
.main-nav {
    padding-left: 0px;
    flex-grow: 4;
}
.nav-list {
    display: flex;
}
.list-item {
    padding-right: 45px;
}
.item-link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.active {
    font-weight: 900;
}
.phone {
    flex-grow: 2;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.social-list {
    
    flex-grow: 3;
    display: flex;
}
.social-link {
    
    padding-right: 32px;
}
.offer {
    display: flex;
}
.main-pic {
    
} 
*/